.heading{
    position: absolute;
    width: 180px;
    height: 33px;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    color: #2B3744;
}